<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Preferences</title>
  <link rel="stylesheet" href="../css/lion-ui-kit.css" />
  <script src="../lib/jquery.js"></script>
  <script src="../app/preferences.js"></script>
</head>
<body>
  <div class="content">
    <div class="view">
      <p>Jenkins project base url:</p>
      <input id="baseUrl" style="width: 250px;" type="text" name="" size="2" id="b" value="http://"/>
      <p><button id="save" class="push">Save Changes</button></p>
      <hr>
      <p>This application uses open source software: <a href="https://github.com/rogerwang/node-webkit" target="external">node-webkit</a>,
        <a href="https://sakamies.github.io/Lion-CSS-UI-Kit/" target="external">lion-ui-kit</a>,
        <a href="https://jquery.com/" target="external">jQuery</a>,
        <a href="https://dribbble.com/Yanlu" target="external">Freecns Cumulus Icon Pack by Yannick Lung</a>
        . Quickly sketched by <a href="https://github.com/ubenzer/cengiz-osx" target="external">Umut Benzer</a></p>
    </div>
  </div>
</body>
</html>
